body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
}

header {
    background-color: #2c9243;
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin: 0;
}

h1 {
    color: #99d8a2;
}

h2 {
    margin-top: 5px;
    color: #62c370;
}

main {
    padding: 20px;
    background-color: #f0f0f0;
    position: relative;
}

.accordion .item {
    margin-bottom: 10px;
}

.accordion .toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #99d8a2;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.accordion input[type="checkbox"] {
    display: none;
}

/* Melhoria visual para o conteúdo do acordeão */
.accordion .content {
    display: none;
    padding: 10px;
    background-color: #62c370;
    border-radius: 5px;
    margin-top: 5px;
    transition: all 0.3s ease;
    border: 1px solid #4ca860; /* Adiciona uma borda para melhor definição */
}

.accordion .content.active {
    display: block; /* Mostra quando ativo */
    padding: 15px; /* Aumenta o padding para mais espaço */
}


.accordion input[type="checkbox"]:checked ~ .content {
    display: block;
}

.logo {
    display: block;
    margin: 20px auto;
    max-width: 100px; /* Ajuste conforme necessário */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.accordion .toggle::before {
    content: '+ ';
    font-weight: bold;
}

.accordion .toggle.active::before {
    content: '- ';
}

.accordion .toggle::after {
    content: '▼';
    font-size: 1em;
    transition: transform 0.3s ease;
}

/* Rota a seta para cima quando o conteúdo está ativo */
.accordion .toggle.active::after {
    transform: rotate(-180deg);
}

/* Estilização da logo para melhor integração */
.logo {
    display: block;
    margin: 30px auto 10px;
    max-width: 150px; /* Ajuste para melhor visualização */
}