body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
}

header {
    background-color: #2c9243;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    color: #99d8a2;
}

h2 {
    margin-top: 5px;
    color: #62c370;
}

main {
    padding: 20px;
    background-color: #f0f0f0;
}

section h3 {
    color: #2c9243;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #99d8a2;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
