body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
    background-color: #fff; /* Fundo claro para contraste */
}

header {
    background-color: #2c9243; /* Verde escuro */
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin: 0;
}

h1 {
    color: #c8ecd4; /* Cor suavizada para melhor contraste */
}

h2 {
    margin-top: 5px;
    color: #62c370; /* Verde médio */
}

main {
    padding: 20px;
    background-color: #f9f9f9; /* Cor mais suave para o fundo */
}

.accordion .item {
    margin-bottom: 10px;
}

.accordion .toggle {
    background-color: #62c370; /* Verde médio */
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold; /* Texto em negrito */
    transition: background-color 0.3s ease;
    position: relative; /* Para a seta de dropdown */
}

.accordion .toggle::after {
    content: '▼'; /* Seta para baixo */
    color: #fff; /* Cor que contraste com o fundo */
    position: absolute;
    right: 10px;
    transition: transform 0.3s ease;
}

.accordion .content {
    display: none;
    padding: 10px;
    background-color: #99d8a2; /* Verde claro */
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid #62c370; /* Verde médio */
}

.accordion .content.active {
    display: block;
}

.logo {
    display: block;
    margin: 30px auto;
    max-width: 150px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    align-items: center;
}

.footer-content p {
    margin: 0;
}

.footer-content img {
    max-width: 100px;
    height: auto;
    margin-left: 10px; /* Adiciona um espaço entre o texto e a imagem */
}


.accordion .toggle.active::after {
    transform: rotate(180deg); /* Gira a seta quando ativo */
}

.diet-recommendations > div {
    background-color: #e4f2ec; /* Fundo claro */
    padding: 10px 15px; /* Ajuste de padding */
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra suave */
    border-left: 5px solid #2c9243; /* Linha lateral verde escuro para destaque */
    position: relative; /* Para o espaçamento como 'enter' */
}

.diet-recommendations h3 {
    margin-top: 0;
    padding-top: 10px; /* Espaço antes do título */
}

.diet-recommendations ul {
    margin-bottom: 10px; /* Espaço depois do último item */
}

.icon.green {
    color: #4CAF50; /* Ajuste para garantir visibilidade */
}

.icon.red {
    color: #F44336; /* Ajuste para garantir visibilidade */
}

.diet-recommendations ul {
    list-style: none;
    padding-left: 20px;
}

.diet-recommendations li {
    margin-bottom: 5px;
    position: relative;
}

.diet-recommendations li::before {
    content: '•';
    color: #4a8d7c; /* Cor ajustada para visibilidade */
    position: absolute;
    left: -15px;
}


.pokemon-card {
    /* Exemplo de estilização; ajuste conforme necessário */
    border: 2px solid #62c370; /* Verde médio */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 300px; /* Ou a largura desejada */
}

.pokemon-image {
    width: 100%; /* Faz com que a imagem preencha o espaço disponível */
    height: auto; /* Mantém a proporção da imagem */
}

.google-translate-container {
    max-width: 100px; /* Defina a largura máxima desejada para a caixa de idiomas */
}


.google-translate-container {
    background-color: inherit; /* Herda a cor de fundo do elemento pai */
    padding: 10px; /* Espaçamento interno */
    /*position: fixed; /* Posição fixa */
    top: calc(12%); /* Posiciona verticalmente no centro */
    right: 97.5%; /* Define uma margem à direita */
    border-radius: 5px; /* Borda arredondada */
    z-index: 9999; /* Certifica-se de que esteja acima de outros elementos */
    max-width: 150px; /* Largura máxima desejada */
    max-height: 1px; /* Altura máxima desejada */
}


